{% extends 'index.html' %} {% block content %}

<h2 class="text-center mt-5">Create Supplier</h2>

<div class="w-100 d-flex justify-content-center mt-4">
  <form
    action=""
    method="post"
    class="form flex w-50 margin-auto border border-2 rounded-3 p-4"
  >
    {% csrf_token %}
    <div class="text-center">
      <span><i class="icon icon-user"></i></span>
    </div>

    <input type="hidden" name="myAction" value="insert" />

    <div class="flex-grow-1">
      <label for="name">name:</label>
      <input type="text" name="name" class="form-control mb-2" />
    </div>
    <div class="flex-grow-1">
      <label for="contactname">contact name:</label>
      <input type="text" name="contactname" class="form-control mb-2" />
    </div>
    <div class="flex-grow-1">
      <label for="email">email:</label>
      <input type="text" name="email" class="form-control mb-2" />
    </div>
    <div class="flex-grow-1">
      <label for="contactemail">contactemail:</label>
      <input type="text" name="contactemail" class="form-control mb-2" />
    </div>

    <label for="phone">phone:</label>
    <input type="text" name="phone" class="form-control mb-2" />

    <div class="flex-grow-1">
      <label for="password">password:</label>
      <input type="password" name="password" class="form-control mb-3" />
    </div>

    <div class="flex-grow-1">
      <label for="confirmpassword">confirm password:</label>
      <input type="password" name="cpassword" class="form-control mb-2" />
    </div>

    <label for="countryregioncode">country region code:</label>
    <input type="text" name="countryregioncode" class="form-control mb-2" />

    <div class="flex-grow-1">
      <label for="postalcode">postal code:</label>
      <input type="text" name="postalcode" class="form-control mb-2" />
    </div>

    <div class="flex-grow-1">
      <label for="postaladdress">postal address:</label>
      <input type="text" name="postaladdress" class="form-control mb-2" />
    </div>

    <div class="flex-grow-1">
      <label for="city">city:</label>
      <input type="text" name="city" class="form-control mb-2" />
    </div>

    <button class="btn btn-dark">Submit</button>
  </form>
</div>

{% endblock %}
